@model string

<h2>@Model</h2>

<p>You can see the change by going to .</p>
<ul>
    <li>@Html.ActionLink("Sql Books", "Index", "Home")</li>
    <li>@Html.ActionLink("Sql Events Books", "Index", "SqlEvents")</li>
</ul>

